<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiexing.dao.StuMapper" >
  <resultMap id="BaseResultMap" type="com.xiexing.entities.Stu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, pwd
  </sql>

  <select id="selectUser" resultType="com.xiexing.entities.Stu" parameterType="long">
    select * from stu where id = #{id}
  </select>

  <select id="selectAllUser" resultType="com.xiexing.entities.Stu">
    select * from stu
  </select>

  <insert id="addUser"  parameterType="com.xiexing.entities.Stu">
    insert into stu (name,password) values (#{name},#{password})
  </insert>

  <delete id="removeUser"  parameterType="int">
    delete from stu where id = #{id}
  </delete>

  <update id="modifyUser"  parameterType="com.xiexing.entities.Stu">
    update stu set
    name = #{name},
    password = #{password}
    where id = #{id}
  </update>

</mapper>